body {
    padding: 0;
    margin: 0;
    background: url('img/bg.png');
    background-size: 50%;
    background-repeat:repeat;
}

#subtitle {
    margin-top: 100px;
}
    #subtitle h1 {
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        margin-left:30px;
        font-size: 82px;
    }
    #subtitle img {
		display: block;
   
    }

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
   
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 120px;
    }

.container {
    width: 80%;
    margin:auto;
    overflow:visible;
    min-width :834px;
    padding-bottom:30px;
}
.headerimg{
    margin:auto;
}
.headerimg img{
    width: 10%;
    float: left;
    padding: 3px;

     max-height: 95px;
    max-width: 95px;
     postion: left;
}
ul {
    margin: 0;
    padding: 0;
}

header {
    background: #F5F9F9;
    color: #000000;
    border-bottom: #cccccc 3px solid;
    height:100px;
}
 header a {
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
}

header li {
        float: left;
        display: inline;
        padding: 20px 30px 0 50px;
}

header nav {
        float: right;
        margin-top: 10px;
    }

header .highlight, header .current a {
        color: #35424a;
        font-weight: bold;
        font-size:22px;
    }

header a:hover {
        color: #cccccc;
        font-weight: bold;
    }

#workbar {
    padding-top: 120px;
    text-align: center;
    
}
   #workbar img{
       width:10%;
       display:inline-block;
       padding-left: 5%;
       padding-right:5%;
   }

#showcase {
    padding-top: 15%;
    
}
    #showcase img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 5%;
    }
#description {
    padding-bottom: 20px;
}
    #description img {
        display: block;
        margin-left: 100px;
        width: 35%;
        padding-bottom: 50px;
    }
    #description p {
        padding-left:250px;
        font-size: 25px;
       
    }
/*placing the photo with text warping */
#workphoto {
    float: left;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 100px;
}
    #workphoto img{
        padding-top: 50px;
        float : right;
        width:30%;
        
    }
    #workphoto p {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        right:50%;
        word-wrap: break-word;
        width: 50%;
    }
    
    #workphoto p.n {
        font-style: normal;
        
    }
    #workphoto p.b {
        margin-top: 100px;
    }
    #workphoto nav{
        padding-top: 50px;
    }
.textwrap {
    float: left;
    margin-right:150px;;
}
#workphotoL {
    float: right;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 100px;
}
    #workphotoL img{
        padding-top: 50px;
        float : left;
        width:30%;
        
    }
    #workphotoL p {
        font-size: 22px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        padding-left :50%;
        word-wrap: break-word;
        width: 50%;
    }
    
    #workphotoL p.n {
        font-style: normal;
        
    }
    #workphotoL p.b {
        margin-top: 100px;
    }
    #workphotoL nav{
        padding-top: 50px;
        padding-right: 10%;
    }
.textwrap {
    float: left;
    margin-right:150px;;
}


/* Services */
#contactbar{
    float:left;
    padding-top:5%;
    padding-right:15%;
}
#contactbar h1{
    font-size: 22px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

#comment{
   padding-top: 1px;
}
#comment input{
    height: 200px;
    
}
from{
    font-size: 22px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}
#fbplugin{
    float:right;
    padding-top: 50px;
    padding-bottom: 100px;

}
ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

/*spousor*/
#sponsor{
    display: inline;
}
#sponsor img{
    padding: 20px 30px 20px 50px;
}
#sponsor pad{
    padding-left:25%;
}
footer {
    padding-bottom: 0.1%;
    color: #ffffff;
    background-color:rgb(255, 0, 106);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
    footer h1 {
        font: 20px arial, sans-serif;
        
    }
    /*product */
    .product{
        width:50%;
        margin:auto;
        overflow:visible;
        
    }
    .Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column
{
    display: table-cell;
    
}
    #product{
        padding-bottom: 50px;
    }
    #product img{
        width:50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    #product p {
        text-align: center ;
        font-size: 30px;
        color: rgb(255, 9, 124);
    }

/* Media Queries */
@media (max-width: 1000px) {
	#fbplugin{
        
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 90px;
    }

}


 